/* ------------ Reset CSS ------------ */
* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

/* ------------ Typography ------------ */

h1 {
  font-size: 1.875rem;
  font-family: 'Poppins', sans-serif;
  line-height: 2.8rem;
}

p {
  font-size: 1rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: normal;
  color: gray;
}

/* ------------ Utils ------------ */

:root {
  --hue: 159;
  --primary: hsl(var(--hue), 36%, 57%);
  --secondary: hsl(var(--hue), 65%, 88%);
  --primary-alt: hsl(var(--hue) 57% 53%);
  --background: hsla(0, 0%, 98%);
}

/* ----------- Base ------------ */

.title {
  font-size: 1.875rem;
  font-family: 'Poppins', sans-serif;
  line-height: 2.8rem;
  text-align: center;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    90deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

.btn-filled p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.btn-filled {
  max-width: 214px;

  padding: 1rem 1.125rem;
  background-color: var(--primary);
  color: white;
  border-radius: 0.25rem;
}

.btn-filled:hover {
  background: var(--primary-alt);
}

.section {
  padding: 5rem 0;
}

/* ------------------------------------ */

html,
body {
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem;
  position: fixed;
  background: var(--background);
  border-bottom: 1px solid hsl(0, 0%, 89%);
  z-index: 10;
}

.menu a {
  color: black;
  font-size: 1.875rem;
  transition: 0.3s;

  position: relative;
}

.menu a:hover {
  color: var(--primary);
}

.menu a:hover::after {
  color: var(--primary);
  visibility: visible;
  width: 100%;
}

.menu a::after {
  content: '';
  width: 0;
  height: 2px;

  position: absolute;
  bottom: -1.5rem;
  left: 0;

  display: inline-block;
  background: var(--primary);
  visibility: hidden;

  transition: 0.3s;
}

.menu {
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 4rem;

  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 200%;

  background: white;

  visibility: hidden;

  transition: 0.3s;
}

header.show .menu {
  visibility: visible;

  left: 0;
}

header .toggle-menu {
  font-size: 2rem;
  color: var(--primary);
  padding-right: 1rem;
  cursor: pointer;
}

header .icon-close {
  font-size: 2.4rem;

  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  z-index: 1;

  transition: 0.4s;
}

header.show .icon-close {
  visibility: visible;
  opacity: 1;

  top: 1.5rem;
}

header.shadow-scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.4s;
}

header .logo {
  font-size: 1.31rem;
}

header .logo span {
  font-size: 1.31rem;
  color: var(--primary);
}

#home {
  padding-top: 8rem;
  overflow: hidden;
  position: relative;
  padding-bottom: 8rem;
  background: var(--background);
}

.image img {
  z-index: 1;
}

.image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;

  right: 2.93rem;
  margin-bottom: 2rem;
}

.image::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--secondary);
  position: absolute;
  z-index: -1;
  top: -10%;
  left: 16.7%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container h2 {
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.container p {
  text-align: center;
  margin-bottom: 2rem;
}

#about {
  padding-top: 5rem;
}

.image-2 {
  padding-bottom: 2rem;
}

/* ---------------- SERVIÇOS ------------------ */

#services .title,
#services p {
  text-align: start;
}

#services .header {
  margin-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.625rem 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid var(--primary);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

.card i {
  font-size: 5rem;
  color: var(--primary);
  padding-bottom: 1.5rem;
}

.card h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

#services .card p {
  padding-bottom: 0;
  text-align: center;
}

/* ---------------- TESTIMONIALS ------------- */

#testimonials .title {
  margin-bottom: 4rem;
}

blockquote:before {
  content: '\201C';
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
  color: var(--primary);
}

blockquote p {
  display: inline;
}

.card-testimonials span {
  font-size: 3rem;
}

.avatar {
  width: 2rem;
  border-radius: 50%;
}

#testimonials .card {
  align-items: flex-start;
  border-bottom: 0;
  padding: 2rem;
  margin-bottom: 2rem;
}

#testimonials .card blockquote {
  margin-bottom: 1.5rem;
}

.client {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.client p {
  margin-bottom: 0;
}

/* ---------------- CONTACT ------------------ */

#contact .container {
  align-items: start;
}

#contact .btn-filled {
  box-sizing: content-box;
}

#contact .btn-filled i {
  color: white;
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact h2,
#contact p {
  text-align: left;
}
.contact-info {
  display: flex;
  flex-direction: column;
}

#contact .text {
  margin-bottom: 4rem;
}

.info {
  display: flex;
  margin-bottom: 2rem;
}

.info i {
  font-size: 1.5rem;
  margin-right: 0.75rem;
  color: var(--primary);
}

.info p {
  margin-bottom: 0;
}

/* ---------------- FOOTER ------------------ */

footer {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer .logo {
  font-size: 1.25rem;
  justify-items: flex-start;
}

footer .logo span {
  color: white;
  font-size: 1.25rem;
}

.brand .rights p {
  color: white;
  text-align: start;
  margin-bottom: 0.75rem;
}

.brand {
  margin-bottom: 2rem;
}

.social {
  display: block;
  color: white;
}

.social a i {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: white;
  padding-right: 2rem;
}
