@font-face {
  font-family: 'beautysalon';
  src:  url('fonts/beautysalon.eot?mdbx41');
  src:  url('fonts/beautysalon.eot?mdbx41#iefix') format('embedded-opentype'),
    url('fonts/beautysalon.ttf?mdbx41') format('truetype'),
    url('fonts/beautysalon.woff?mdbx41') format('woff'),
    url('fonts/beautysalon.svg?mdbx41#beautysalon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'beautysalon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cosmetic:before {
  content: "\e900";
}
.icon-trim:before {
  content: "\e901";
}
.icon-woman-hair:before {
  content: "\e902";
}
