@font-face {
  font-family: 'beautysalon';
  src:  url('fonts/beautysalon.eot?y7a7ml');
  src:  url('fonts/beautysalon.eot?y7a7ml#iefix') format('embedded-opentype'),
    url('fonts/beautysalon.ttf?y7a7ml') format('truetype'),
    url('fonts/beautysalon.woff?y7a7ml') format('woff'),
    url('fonts/beautysalon.svg?y7a7ml#beautysalon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="beauty-"], [class*=" beauty-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'beautysalon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.beauty-cosmetic:before {
  content: "\e900";
}
.beauty-trim:before {
  content: "\e901";
}
.beauty-woman-hair:before {
  content: "\e902";
}
